@charset "UTF-8";

#logoh1 a{
text-decoration: none !important;
color: inherit;
}

#shares {
width: 96px;
height: 31px;
float: right;
margin-top: 4px;
margin-right: -22px;
}


div#twicon {
float: right;
margin-top: 0px;
margin-right: -1px;
width: 30px;
height: 30px;
cursor:pointer;
}

div#fbcon {
float: right;
margin-top: 0px;
margin-right: -1px;
width: 30px;
height: 30px;
cursor:pointer;
}

div#gcon {
float: right;
margin-top: 0px;
margin-right: -1px;
width: 30px;
height: 30px;
cursor:pointer;
}

div#twicon::before {
font-family: FontAwesome;
content: "\f099";
margin-left: -1px;
font-size: 26px;
line-height: 33px;
color: #D3D3D3;
transition: all 0.3s 0s ease;
-webkit-transition: all 0.3s 0s ease;
cursor:pointer;
}

div#fbcon::before {
font-family: FontAwesome;
content: "\f082";
margin-left: 1px;
font-size: 23px;
line-height: 33px;
color: #D3D3D3;
transition: all 0.3s 0s ease;
-webkit-transition: all 0.3s 0s ease;
cursor:pointer;
}

div#gcon::before {
font-family: FontAwesome;
content: "\f0d4";
margin-left: 1px;
font-size: 23px;
line-height: 33px;
color: #D3D3D3;
transition: all 0.3s 0s ease;
-webkit-transition: all 0.3s 0s ease;
cursor:pointer;
}

div#twicon:hover::before {
color: #B3B3B3;
}

div#fbcon:hover::before {
color: #B3B3B3;
}

div#gcon:hover::before {
color: #B3B3B3;
}


#result-iframe {
    width: 100%;
}

#theme2 {
    display: none !important;
}

.cko,.cwk {
    cursor: pointer;
}

#wrap {
    padding: 0;
}

#whead {
    background: #ececec;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.11);
    box-shadow: 0 1px 0 rgba(94,94,94,.11);
    height: 48px;
}

#wtitle {
    display: block;
    height: 48px;
    overflow: hidden;
    text-decoration: none;
    width: 200px!important;
    cursor: pointer;
    background-color: #444;
    float: left;
}

#coffee {
    width: 48px;
    height: 100%;
    margin-left: 10px;
    float: left;
}

#coffee::before {
    font-family: FontAwesome;
    content: "\f0f4";
    margin-left: 0;
    font-size: 32px;
    line-height: 46px;
    color: #fff;
}

#cl {
    height: 100%;
    width: 190px;
    line-height: 48px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans' sans-serif;
}

.cluster-container {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

.cluster.multi-corpus-short.tall-cover.apps {
    border: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 10px;
}

.card-list {
    border: 0;
    padding: 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    height: auto;
    width: 100%;
}

.card.one-rationale.square-cover.apps.medium {
    border: 0;
    margin: 5px;
    padding: 0;
    display: inline-block;
    position: relative;
    vertical-align: top;
    height: 160px;
    width: 330px;
    float: left;
}

.card-content.id-track-click.id-track-impression {
    border: 0;
    margin: 0;
    padding: 0;
    text-align: left;
    -webkit-box-shadow: rgba(0,0,0,.25) 0 2px 4px;
    box-shadow: rgba(0,0,0,.25) 0 2px 4px,inset 0 0 50px rgba(153,153,153,.25);
    background-color: #fff;
    height: 160px;
    position: relative;
    vertical-align: top;
}

.card-click-target {
    text-decoration: none;
    color: #333;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.cover {
    border: 0;
    margin: 0;
    padding: 0;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    overflow: hidden;
    position: relative;
    float: left;
    height: 160px;
    width: 160px;
}

.cover-image-container {
    border: 0;
    margin: 0;
    padding: 0;
    height: 176px;
    left: -8px;
    position: relative;
    top: -8px;
    width: 176px;
}

.cover-outer-align {
    border: 0;
    margin: 0;
    padding: 0;
    display: table;
    height: 176px;
    width: 176px;
}

.cover-inner-align {
    border: 0;
    margin: 0;
    padding: 0;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.cover-image {
    vertical-align: middle;
    border: 0;
    margin: 0;
    padding: 0;
    max-height: 160px;
    max-width: 73%;
}

.card-content-link {
    text-decoration: none;
    color: #333;
}

.preview-overlay-container {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    opacity: 0;
    transition: all .25s ease;
    -webkit-transition: all .25s ease;
    background-color: rgba(0,0,0,.4);
    cursor: pointer;
    height: 160px;
    left: 0;
    position: absolute;
    top: 0;
    width: 160px;
    background-position: initial initial;
    background-repeat: initial initial;
}

.details {
    border: 0;
    margin: 0 0 0 160px;
    padding: 7px 10px 0;
    overflow: hidden;
    position: relative;
    max-height: 144px;
    width: 170px;
}

.title {
    text-decoration: none;
    color: #747474;
    display: block;
    font-size: 20px;
    line-height: 24px;
    max-height: 48px;
    min-height: 18px;
    position: relative;
    font-family: 'Open Sans' sans-serif;
}

.paragraph-end {
    background-image: linear-gradient(to right,rgba(255,255,255,0),#fff);
    bottom: 0;
    height: 23px;
    max-height: 100%;
    position: absolute;
    right: 0;
    width: 45px;
    background-position: initial initial;
    background-repeat: initial initial;
}

.subtitle-container {
    border: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 150px;
    min-height: 22px;
}

.card-details-star-rating {
    border: 0;
    margin: 0;
    padding: 0;
    height: 18px;
    position: relative;
    top: 1px;
}

.tiny-star.star-rating-non-editable-container {
    border: 0;
    margin: 0;
    padding: 0;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAcklEQ��YWTVoEA4cSjTDFalAM5uPVCFTABY0/ASSDBKBiXNRNcqRiADBao1Bj6dJdAAAAAElFTkSuQmCC);
    left: -1px;
    position: relative;
    top: 1px;
    height: 14px;
    width: 69px;
}

.description {
    border: 0;
    margin: 7px 0 0;
    padding: 0;
    color: #949494;
    position: relative;
    max-height: 54px;
    min-height: 20px;
    font-family: 'Open Sans',sans-serif;
}

p {
    border: 0;
    margin: 0;
    padding: 0;
}

.reason-set {
    border: 0;
    margin: 0 0 0 160px;
    padding: 0 10px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    bottom: 0;
    position: absolute;
    width: 170px;
    max-height: 83px;
}

.reason {
    color: #aaa;
    display: block;
    font-size: 12px;
    font-style: italic;
    line-height: 15px;
    padding: 3px 0;
    position: relative;
    border-top-width: 0;
    margin-top: 4px;
    max-height: 83px;
}

.reason-contents.no-reason-icon {
    display: inline-block;
    height: 30px;
    overflow-y: hidden;
}

.reason-body-container {
    display: table;
    height: 30px;
    margin-left: 0;
    min-height: 30px;
    position: relative;
}

.reason-body {
    text-decoration: none;
    color: #b4b4b4;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-size: 13px;
}

#wcon {
    height: 100%;
    text-align: left;
    line-height: 48px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans' sans-serif;
    color: #444;
    text-indent: 11px;
}

#wcr {
    float: right;
    margin-right: 15px;
    font-size: 15px;
    cursor: default;
}

.ct-content {
    margin: 0 auto;
    padding: 0;
    color: #333;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 17px;
    line-height: 16px;
    background: 0 0;
    text-align: left;
}

.ct-inner {
    margin: 0 auto;
    padding: 20px;
    position: relative;
    max-width: 1243px;
}

#ct-main {
    padding: 0;
    width: auto;
}

.ct-post {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
}

#post-17809 {
    padding: 20px 20px 33px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.clr {
    margin: 0;
    padding: 0;
    clear: both;
    float: none;
}

.ct-h-shd.entry-title {
    margin: 0 0 15px;
    padding: 15px 3px;
    font-family: 'League Gothic','Bebas Neue','Arial Narrow',Arial,sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    text-shadow: rgba(0,0,0,.00784314) 0 0 1px;
    font-size: 46px;
    line-height: 46px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #f5f5f5;
}

.ct-post-content {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.ct-post-excerpt {
    margin: 0 0 10px;
    padding: 0 0 6px;
    clear: both;
    color: #797979;
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
}

.ct-author-info p {
    margin: 0;
    padding: .75em 8px;
}

.ct-author-info a {
    margin: 10px auto;
    padding: 0;
    max-width: 100%;
    height: auto;
    border: 0;
    display: block;
    position: relative;
    text-align: left;
}

.ct-content code {
    margin: 0;
    padding: 0 10px;
    font-family: 'Courier New',Courier,monospace;
    font-weight: 700;
    color: #657580;
    display: inline-block;
    background-color: rgba(0,0,0,.0470588);
    background-position: initial initial;
    background-repeat: initial initial;
}

.ct-post-nav {
    margin: 20px 0 0;
    padding: 30px 0 0;
    clear: both;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f5f5f5;
}

.ct-tags {
    margin: 15px 0 23px 5px;
    padding: 0;
}

.ct-row {
    margin: 15px 0;
    padding: 0;
    clear: both;
}

.ct-author-info.ct-box {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    float: none;
    height: auto;
}

.ct-related-post.ct-row-float.cf {
    margin: 0;
    padding: 0 10px;
    position: relative;
    width: 911px;
    background-color: #fff;
}

.ct-row-wrapper {
    margin: 0;
    padding: 0;
    width: 911px;
    border-collapse: separate;
    border-spacing: 20px;
}

#comments {
    clear: both;
    padding-top: 30px;
}

.demo {
    margin-right: 12px;
    padding: 12px 10px;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    width: 180px;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-color: #60b7e1;
    position: relative;
    box-shadow: 0 1px 4px rgba(0,0,0,.4),inset 0 0 50px rgba(0,0,0,.03);
}

.download {
    padding: 12px 10px;
    color: #fff;
    text-decoration: none;
    outline: 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
    text-align: center;
    width: 180px;
    line-height: 20px;
    display: inline-block;
    cursor: pointer;
    background-color: #60b7e1;
    box-shadow: 0 1px 4px rgba(0,0,0,.4),inset 0 0 50px rgba(0,0,0,.03);
    position: relative;
}

.ct-content span {
    margin: 0;
    padding: 0;
    font-weight: 600;
}

#highlighter_830689 {
    margin: 1em 0;
    padding: 10px 0;
    width: 811px;
    position: relative;
    overflow-x: auto;
    font-size: 1em;
    overflow-y: hidden;
    background-color: #f8f8f8;
    border: 1px solid #f0f0f0;
}

.ct-content table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    border: 0;
    bottom: auto;
    float: none;
    height: auto;
    left: auto;
    outline: 0;
    overflow: visible;
    position: static;
    right: auto;
    top: auto;
    vertical-align: baseline;
    width: 956px;
    box-sizing: content-box;
    font-family: 'Lucida Sans Typewriter','Lucida Console',Monaco,'Bitstream Vera Sans Mono',monospace;
    font-size: 13px;
    line-height: 24px;
    min-height: inherit;
}

.ct-content tbody,.ct-content tr {
    margin: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    border: 0;
    bottom: auto;
    float: none;
    height: auto;
    left: auto;
    outline: 0;
    overflow: visible;
    position: static;
    right: auto;
    top: auto;
    vertical-align: baseline;
    width: auto;
    box-sizing: content-box;
    min-height: inherit;
}

.gutter {
    margin: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    border: 0;
    bottom: auto;
    float: none;
    height: auto;
    left: auto;
    outline: 0;
    overflow: visible;
    position: static;
    right: auto;
    top: auto;
    vertical-align: baseline;
    width: auto;
    box-sizing: content-box;
    min-height: inherit;
    color: #ddd;
}

.line.number1.index0.alt2 {
    margin: 0;
    padding: 0 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    border: 0;
    bottom: auto;
    float: none;
    height: auto;
    left: auto;
    outline: 0;
    overflow: visible;
    position: static;
    right: auto;
    text-align: right;
    top: auto;
    vertical-align: baseline;
    width: auto;
    box-sizing: content-box;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 11px;
    min-height: inherit;
    white-space: pre;
}

.code2 {
    margin: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    border: 0;
    bottom: auto;
    float: none;
    height: auto;
    left: auto;
    outline: 0;
    overflow: visible;
    position: static;
    right: auto;
    top: auto;
    vertical-align: baseline;
    width: 930px;
    box-sizing: content-box;
    min-height: inherit;
}

.container {
    margin: 0;
    padding: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    border: 0;
    bottom: auto;
    float: none;
    height: auto;
    left: auto;
    outline: 0;
    overflow: visible;
    position: relative;
    right: auto;
    top: auto;
    vertical-align: baseline;
    width: auto;
    box-sizing: content-box;
    min-height: inherit;
}

.ct-post-prev {
    margin: 0;
    padding: 0 0 0 40px;
    width: 245px;
    position: relative;
    font-size: 14px;
    color: #999;
    float: left;
}

.span2 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #bbb;
    text-transform: uppercase;
    font-size: 11px;
}

.ct-post-next {
    margin: 0;
    padding: 0 40px 0 0;
    width: 245px;
    position: relative;
    font-size: 14px;
    color: #999;
    float: right;
    text-align: right;
}

.ct-author-avatar {
    margin: 0;
    padding: 0;
    float: left;
    width: 113px;
    height: 113px;
}

.avatar.avatar-80.photo {
    margin: 0 15px 8px 0;
    padding: 0;
    max-width: 100%;
    height: 80px;
    width: 80px;
    display: block;
    background-color: #e5eaf0;
    background-position: initial initial;
    background-repeat: initial initial;
}

.ct-author-page-desc {
    margin: -13px 0 0 105px;
    padding: 0;
    font-size: .95em;
    line-height: 1.5;
}

.hh4 {
    margin: 5px 5px 3px;
    padding: 5px 5px 15px 0;
    font-family: 'Open Sans' sans-serif;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    background-image: url(http://codropspz.tympanus.netdna-cdn.com/codrops/wp-content/themes/codropstheme02/images/stripes_black.png);
    background-color: transparent;
    text-shadow: rgba(0,0,0,.00784314) 0 0 1px;
    background-position: 0 100%;
    background-repeat: repeat no-repeat;
}

.aa1 {
    margin: 0 0 10px;
    padding: 0;
    color: #616161;
    text-decoration: none;
    outline: 0;
    font-size: 26px;
    display: inline;
}

.p2 {
    margin: 0;
    padding: 10px;
    line-height: 1.5;
}

.div2 {
    margin: 0;
    padding: 0;
}

.span3 {
    margin: 0 5px 0 0;
    padding: 0;
    font-weight: 600;
}

.a3 {
    margin: 0;
    padding: 0;
    color: #237dac;
    text-decoration: none;
    outline: 0;
    font-weight: 700;
}

.ct-social-profiles {
    margin: 0;
    padding: 5px 0 0 8px;
    float: none;
    clear: none;
    height: 33px;
    line-height: 30px;
}

.ct-social-profiles .li0 {
    margin: 0 10px 0 0;
    padding: 0;
    float: left;
}

.ct-social-profiles li {
    margin: 0;
    padding: 0;
    float: left;
}

#cp_embed_phaEB {
    width: 87%!important;
    margin-top: 12px;
}

#linkbox {
    margin-top: 16px;
}

@media (max-width:996px) {
    #cp_embed_phaEB {
        width: 100% !important;
    }

    .ct-inner {
        padding: 10px;
    }

    #cl {
        display: none;
    }

    #wtitle {
        width: 48px !important;
    }

    #coffee::before {
        content: "\f112";
        margin-left: -19px;
        font-size: 29px;
        line-height: 50px;
    }
}

@media(max-width:43.75em) {

#coffee::before {
font-size: 27px;
line-height: 52px;
}

div#gcon {
float: right;
margin-top: 0px;
margin-right: 5px;
width: 30px;
height: 30px;
cursor: pointer;
}

#wcon{
color:#fff;
}

#wtitle {
float: right;
}

#shares {
margin-top: auto;
margin-right: auto;
margin: 34px auto -22px;
float: none;
}
    #cp_embed_cb,#result-iframe {
        display: none;
    }

.p2.ct-author-page-url {
font-size: 14px;
}
    .p2 {
        font-size: 15px;
        padding: 3px 8px 9px !important;
    }

    .hh4 {
        padding: 5px 5px 8px 0;
    }

    .aa1 {
        font-size: 20px;
        padding-top: 10px !important;
    }

    .ct-author-info.ct-box {
        padding: 10px;
    }

    .ct-author-page-desc {
        margin: -33px auto;
        width: 100%;
    }

    .ct-author-avatar {
        display: none;
    }

    .demo {
        width: 100%;
        font-size: 17px;
        margin-bottom: -6px;
    }

    .download {
        width: 100%;
        font-size: 17px;
        margin-top: -10px;
        margin-bottom: 3px;
    }

    #cp_embed_phaEB {
        display: none;
    }

    .ct-post-excerpt {
        font-size: 27px;
        line-height: 32px;
    }

    #wcr {
        display: none;
    }

    #post-17809 {
        padding: 20px 20px 44px;
    }

    #linkbox {
        margin-top: 33px;
    }
}