@charset "UTF-8";
.twitter-share-button{
  display:none;
}
#remote {
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

div.fb-share-button.fb_iframe_widget {
  left: -346px;
  top: 3px;
}

.r2 {
  margin-top: -147px!important;
  margin-left: 458px!important;
}

.l2 {
  float: left;
}

#result-iframe {
  width: 100%;
}

.go-help {
  display: none!important;
}

body {
  width: 100%;
  height: 100%;
  min-width: 300px;
  min-height: 500px;
  margin: 0 auto;
  padding: 0;
  background: #fc0;
  color: #333;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Open-sans,Arial,sans-serif,"メイリオ","ヒラギノ角ゴ Pro W3","MS PGothic","MS UI Gothic";
  font-size: small;
  text-align: center;
  position: absolute;
  font-weight: 100;
}

#header {
  width: 100%;
  height: 82px;
  margin: 0 auto;
  padding: 0;
  color: #333;
  overflow: hidden;
  position: relative;
  font-weight: 100;
  z-index: 6;
}

#wrap {
  width: 90%;
  height: auto;
  min-width: 300px;
  min-height: 661px;
  margin: 56px auto -21px;
  padding: 20px 0 0;
  background: rgba(255,255,255,1);
  color: #333;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 1px 10px rgba(0,0,0,.4);
  box-shadow: 0 1px 10px rgba(0,0,0,.25);
}

.onli {
  color: #686868!important;
  cursor: default!important;
}

.onli:hover {
  border-bottom: 0!important;
}

#wraphead {
  font-size: 0;
  border-bottom: 1px solid #ECECEC;
  padding: 0 20px;
  overflow: hidden;
  height: 25px;
}

#wraplbox {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
  position: relative;
  width: 66.66%;
}

#wraprbox {
  float: left;
  padding-right: 20px;
  position: relative;
  width: 33.33%;
}

#innerwrap {
  padding: 20px 40px;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 84px;
  min-width: 300px;
  min-height: 84px;
  margin: 90px 0 0;
  padding: 0;
  border-top: 1px solid #ddd;
  background: #fff;
  color: #fff;
  overflow: hidden;
  font-size: 12px;
  position: relative;
  -moz-box-shadow: inset 0 5px 18px rgba(0,0,0,.6);
}

#logo {
  width: 100%;
  height: 72px;
  min-width: 300px;
  margin: 0 -345px 0 0;
  padding: 65px 0 0;
  background: rgba(255,255,255,1);
  color: #fff;
  overflow: hidden;
  font-size: 50px;
  text-align: right;
  position: fixed;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
  box-shadow: 0 0 10px rgba(0,0,0,.4),inset 0 0 50px rgba(255,255,255,.25);
}

#logoh1 {
  top: 0;
  left: 60px;
  width: 264px;
  height: 72px;
  margin: 0 auto;
  padding: 0;
  background: rgba(255,255,255,1);
  background-image: none;
  color: #DBDBDB;
  overflow: hidden;
  font-family: 'Titillium Web',sans-serif;
  font-size: 26px;
  text-align: right;
  float: left;
  position: absolute;
  -moz-box-shadow: 0 0 10px rgba(0,0,0,.4);
  cursor: pointer;
  -o-transition: left .3s ease-out;
  -moz-transition: left .3s ease-out;
  -webkit-transition: left .3s ease-out;
  transition: left .3s ease-out;
  line-height: 72px;
}

#logoul {
  width: 522px;
  height: 72px;
  margin: -65px 0 0 0;
  padding: 0;
  color: #696969;
  overflow: hidden;
  font-family: 'Titillium Web',sans-serif;
  font-size: 26px;
  text-align: left;
  float: right;
  position: relative;
  cursor: pointer;
  -o-transition: margin .3s ease-out;
  -moz-transition: margin .3s ease-out;
  -webkit-transition: margin .3s ease-out;
  transition: margin .3s ease-out;
  line-height: 72px;
}

#logoul li {
  width: 115px;
  height: 72px;
  min-width: 0;
  min-height: 0;
  margin: 0;
  padding: 0 5px;
  overflow: hidden;
  font-size: 26px;
  text-align: center;
  float: right;
  position: relative;
  cursor: pointer;
  -o-transition: margin .3s ease-out;
  -moz-transition: margin .3s ease-out;
  -webkit-transition: margin .3s ease-out;
  transition: margin .3s ease-out;
  line-height: 67px;
}

#logoul li a {
  display: inline;
  color: #9E9E9E;
  letter-spacing: .5px;
  font-size: 14px;
  text-decoration: none;
}

#logoul li a:hover {
  border-bottom: 1px solid #9E9E9E;
}

#topmenu {
  display: none;
  position: absolute;
  top: 24px;
  left: 15px;
  width: 30px;
  height: 29px;
  overflow: hidden;
  text-decoration: none;
  background: url(http://farm8.staticflickr.com/7309/10369891525_c74e7a23ab_o.png) no-repeat;
  cursor: pointer;
}

#wraplbox dl {
  background: #fff;
  overflow: hidden;
  padding: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  margin: 0 0 20px;
}

#wraprbox dl {
  background: #fff;
  overflow: hidden;
  padding: 27px 10px 10px!important;
  box-shadow: 0 2px 3px rgba(0,0,0,.2);
  margin: 0 0 20px;
}

#wraprbox dl .dlhead {
  color: #FFF;
  background: #9e9e9e;
  text-align: left;
  margin-left: -10px;
  margin-top: -27px;
  width: 114%;
  font-family: 'Titillium Web',sans-serif;
  font-size: 11px;
  text-indent: 8px;
  line-height: 17px;
}

#footer #left {
  display: inline-block;
  margin: 0;
  padding: 0 20px 0 40px;
  height: 84px;
  line-height: 84px;
  list-style-type: none;
  font-size: 12px;
  font-family: 'Titillium Web',sans-serif;
  float: left;
}

#footer #right {
  display: inline-block;
  margin: 0;
  padding: 0 40px 0 20px;
  height: 84px;
  line-height: 84px;
  list-style-type: none;
  font-size: 12px;
  font-family: 'Titillium Web',sans-serif;
  float: right;
}

#footer #left li {
  display: inline-block;
  color: #9e9e9e;
  margin: 0;
  width: auto;
  padding-left: 10px;
  text-align: center;
}

#footer #left li a:hover {
  color: #DBDBD;
}

#footer #left li a {
  display: inline-block;
  color: #9e9e9e;
  margin: 0;
  width: auto;
  padding-left: 10px;
  text-align: center;
  text-decoration: none;
}

.wdtitle {
  font-size: 18px;
  font-weight: 100;
  line-height: 18px;
  margin: 0;
  padding: 14px 18px;
  position: relative;
  text-align: center;
  color: #9e9e9e;
  font-family: 'Titillium Web',sans-serif;
  cursor: pointer;
  float: none;
}

#search {
  background: url(http://farm6.staticflickr.com/5492/10369790515_be2c35ba0d_o.png) no-repeat!important;
  background-position: 50% 50%!important;
  width: 72px!important;
  background-size: 16px!important;
  margin-left: -18px!important;
  overflow: visible!important;
}

#footer #right li {
  display: inline-block;
  color: #9e9e9e;
  margin: 0;
  width: auto;
  padding-left: 10px;
  text-align: center;
  cursor: pointer;
}

#footer #right li a:hover {
  color: #DBDBDB;
}

.on {
  border-bottom: 1px solid #9E9E9E;
  color: #9e9e9e!important;
}

.off {
  color: #DBDBDB!important;
}

#whleft {
  min-width: 120px;
  margin-left: -20px;
  margin-top: -20px;
  float: left;
  height: 44px;
  cursor: pointer;
  text-decoration: none!important;
  display: block;
  padding: 0 0 0 18px;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  z-index: 3;
  font-weight: 700;
  background: rgba(255,255,255,0);
  color: #585d6b;
  border-radius: 0;
  position: absolute;
}

#whleft:hover {
  border-right: 1px solid #ececec;
  background: #fafafa;
}

#whright {
  min-width: 150px;
  margin-left: -20px;
  margin-top: -20px;
  float: right;
  height: 44px;
  right: 0;
  cursor: pointer;
  text-decoration: none!important;
  display: block;
  padding: 0 13px;
  text-shadow: 0 1px 0 #fff;
  font-size: 13px;
  z-index: 3;
  font-weight: 700;
  background: rgba(255,255,255,.6);
  color: #585d6b;
  border-radius: 0;
  position: absolute;
}

.wrmenu {
  float: right;
  width: 26px;
  height: 20px;
  margin-top: 15px;
  margin-left: 7px;
  line-height: 44px;
  background: url(http://farm6.staticflickr.com/5535/10494366496_f92e3f04f5_o.png) no-repeat;
  cursor: pointer;
}

#wrm01 {
  background-position: -54px -40px;
}

#wrm02 {
  background-position: -26px -40px;
}

#wrm03 {
  background-position: 0 -40px;
}

#wrmon1 {
  background-position: -54px 0!important;
}

.wrmon2 {
  background-position: -26px 0!important;
}

.wrmon3 {
  background-position: 0 0!important;
}

#ctg {
  height: 100%;
  line-height: 45px;
  float: left;
  color: #aaa8a8;
  text-align: left;
}

#down::before {
  font-family: FontAwesome;
  content: "\f0d7";
  margin-left: 5px;
  font-size: 13px;
  color: #aaa8a8;
  line-height: 46px;
}

.article {
  width: 400px;
  height: 400px;
  position: relative;
  overflow: hidden;
  left: 0!important;
  top: 0!important;
  margin: 20px 0;
  background: #FFF;
  border: 1px solid #DFDFDF;
  box-shadow: 0 0 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 0 2px rgba(0,0,0,.05);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,.05);
  border-radius: 0;
  padding: 11px;
  cursor: pointer;
}

#wraptitle {
  padding: 9px 0;
  margin: 0 auto;
  line-height: 0;
  height: 40px;
  text-align: center;
  background: 0 0;
  border-top: 1px solid #e6e6e6;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

#previous {
  float: left;
  margin-left: 8px;
  line-height: 24px;
  color: #999;
  cursor: pointer;
}

#next {
  float: right;
  margin-right: 8px;
  line-height: 24px;
  color: #999;
  cursor: pointer;
}

.menus {
  border: 1px solid #999;
  border-radius: 2px;
  background: url(http://i.yimg.jp/images/bloom/v201212/ic_arrow_sprite.png) no-repeat;
  background-color: #fff;
  display: inline-block;
  width: 18px;
  height: 22px;
  vertical-align: middle;
  outline: 0;
  padding: 2px;
  margin: 0;
  cursor: pointer;
}

.menus:hover {
  border: 1px solid #333;
}

#leftmenu {
  background-position: 5px -116px;
  float: left;
}

#rightmenu {
  background-position: 5px 5px;
  float: right;
}

*,:after,:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  -webkit-font-smoothing: antialiased;
}

#remote {
  margin: 0;
  position: fixed;
  z-index: 10000;
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4);
  box-shadow: 0 1px 2px rgba(0,0,0,.4);
  border: 1px solid rgba(255,255,255,0);
  padding: 0;
  bottom: 89px;
  right: 5px;
  border-radius: 0;
  width: 46px;
  height: 64px;
  opacity: 0;
}

#remote {
  -webkit-transition: opacity 0.1s 0s;
  transition: opacity 0.1s 0s;
}

#rhead {
  margin: 0;
  padding: 0;
  height: 15px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  position: relative;
  left: 0;
  border-bottom: 1px solid #d1d1d1;
  line-height: 4px;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  color: #a7a7a7;
  font-family: arial;
  cursor: default;
}

.icon {
  cursor: pointer;
  height: 47px;
  border-bottom: 1px solid lightGrey;
}

.last {
  border-bottom: 0;
}

#phone::before {
  font-family: FontAwesome;
  content: "\f10b";
  margin-left: 2px;
  font-size: 48px;
  line-height: 48px;
  color: #747474;
}

#color {
  display: none;
}

#color::before {
  font-family: FontAwesome;
  content: "\f043";
  margin-left: 2px;
  font-size: 36px;
  line-height: 52px;
  color: #838383;
}

#top::before {
  font-family: FontAwesome;
  content: "\f102";
  margin-left: 0;
  font-size: 38px;
  line-height: 46px;
  color: #838383;
}

.icon:hover {
  background: #e4e4e4;
}

#colorm,#colorm2 {
  background: rgba(255,255,255,.82);
  left: 0;
  position: absolute;
  top: 0;
  z-index: 1000;
  filter: alpha(opacity=75);
  -moz-opacity: .75;
  opacity: 1;
  display: none;
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: left;
}

#cbox {
  -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  -moz-box-shadow: 0 4px 16px rgba(0,0,0,.2);
  box-shadow: 0 4px 16px rgba(0,0,0,.2);
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #acacac;
  border: 1px solid rgba(0,0,0,.333);
  outline: 0;
  position: absolute;
  color: #000;
  padding: 30px 27px;
  z-index: 1001;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

#close {
  height: 11px;
  opacity: .7;
  padding: 17px;
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  cursor: pointer;
}

#close::before {
  content: '';
  background: url(http://ssl.gstatic.com/ui/v1/dialog/close-x.png);
  position: absolute;
  height: 11px;
  width: 11px;
  right: 17px;
}

#mhead {
  background-color: #fff;
  color: #000;
  cursor: default;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0 0 16px;
}

#mcont {
  border: 1px solid #ebebeb;
  height: 85%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

#mconth {
  border-bottom: 1px solid #f2f2f2;
  height: 14px;
  position: absolute;
  width: 100%;
}

#mcontt {
  background: #fff;
  color: #999;
  display: inline-block;
  font-size: 11px;
  font-weight: 700;
  padding: 9px 10px 2px;
  position: relative;
  text-transform: uppercase;
}

#underc {
  border-bottom: 1px solid #ebebeb;
  margin: 0;
  padding: 14px 0;
}

#okbtn {
  -webkit-writing-mode: horizontal-tb;
  font: -webkit-small-control;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  align-items: flex-start;
  text-align: center;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 11px;
  font-weight: 700;
  height: 29px;
  line-height: 27px;
  margin: 0 16px 0 0;
  min-width: 72px;
  outline: 0;
  padding: 0 8px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(top,#979797,#777);
  background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
  background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #8A8A8A;
  color: #fff;
  margin-top: 10px;
  cursor: pointer;
}

.outmc {
  display: -moz-inline-box;
  display: inline-block;
  background-repeat: no-repeat;
  border: 1px solid #fff;
  cursor: pointer;
  margin: 10px;
  outline: 2px solid #ddd;
  position: relative;
  vertical-align: top;
  -webkit-user-select: none;
}

.onm {
  outline: 2px solid #0096fd!important;
}

.outmcin {
  width: 152px;
  height: 114px;
  -webkit-user-select: none;
  display: block;
}

#wrapomc {
  width: 100%;
  height: 100%;
}

.themes {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
  line-height: 113px;
  font-size: 16px;
}

#defgre {
  color: #464646;
  background: #f8f8f8;
  font-family: 'Titillium Web',sans-serif;
}

#dayt {
  color: #FFAE03;
  background: #fcd04b;
  font-family: Oxygen,sans-serif;
}

#stra {
  background: #ffa8c7;
  color: #fff;
  font-family: helvetica;
  font-weight: 700;
}

#swrap {
  top: 22px;
  margin: 0 22px 0 auto;
  padding: 0;
  position: absolute;
  right: 34px;
  height: 34px;
  width: 761px;
  overflow: hidden;
  transition: width 200ms;
  -webkit-transition: width 200ms;
  z-index: 9999;
  display: none;
}

#s {
  position: absolute;
  border-radius: 40px;
  border-style: none;
  box-shadow: #c2c2c2 0 0 6px inset;
  font-size: 13px;
  color: gray;
  padding: 2px 7px;
  outline: 0;
  opacity: 1;
  width: 380px;
  height: 31px;
  margin: 0 auto;
  text-indent: 8px;
  line-height: 32px;
}

#menumsk {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: #fff;
  display: none;
}

.btn-next:hover,.btn-prev:hover {
  opacity: 1;
}

#msktxt {
  width: 100%;
  position: absolute;
  top: 0;
}

.msktxts {
  font-family: inherit;
  font-size: 25px;
  line-height: 40px;
  color: #919191;
}

#colormsk::before {
  font-family: FontAwesome;
  content: "\f043";
  margin-left: 0;
  font-size: 31px;
  line-height: 41px;
  color: #919191;
}

.outmc:hover {
  outline: 2px solid #ACACAC;
}

#theme2 {
  display: none!important;
}

.URc.ega.Lab {
  height: auto;
  border: 1px solid #F3F3F3;
  border-bottom-width: 2px;
}

.k5.U9b.kXa {
  position: relative;
  z-index: 1;
  background-color: #fff;
  color: #fff;
  margin: 0 auto;
  min-height: 349px;
  width: 900px;
  overflow-y: hidden;
  min-width: 100%;
  overflow-x: hidden;
}

.lHa.m5a {
  width: 620px;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  left: 280px;
}

.ENc {
  height: 349px;
  margin: 0 auto;
  width: 0;
  margin-left: 0;
}

.aGb.hXa.z3Hx4b {
  border: 0;
  height: auto;
  width: auto;
  display: block;
  margin: 0 auto;
}

.M3.qna.fPa {
  bottom: 0;
  font-size: 12px;
  height: 349px;
  margin: 0;
  padding: 15px 15px 30px;
  position: relative;
  text-align: center;
  width: 280px;
  z-index: 2;
  display: table;
  min-height: 349px;
}

.JPnoh.fr35Bc {
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background-position: 50% 50%;
}

.JuEOPe {
  height: 349px;
  left: 140px;
  margin: 0 auto;
  position: absolute;
  right: 140px;
}

.XYxCee {
  height: 349px;
  left: -1000px;
  margin: 0 auto;
  position: absolute;
  right: -1000px;
}

.wtJUvc.hq8QAb {
  border: 0;
  height: 352.48px;
  width: auto;
}

.wtJUvc.hq8QAb2 {
  border: 0;
  height: 352.48px;
  width: 100%;
  display: none;
  background: url(https://lh4.googleusercontent.com/-HzXtdN0IHlA/UcojOf549nI/AAAAAAAABl0/RRy6DGYZecA/s630-fcrop64=1,00000000ffffd885:Soften=1,60,0/%25C2%25A9%2BVincent%2BMo_Latte.jpg);
  background-position: 50% 50%;
  background-size: 100%;
}

.NFZBtd {
  opacity: .3;
  background-color: #000;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.xna.Uza {
  height: 304px;
  margin: 0 auto;
  position: relative;
  width: 250px;
  display: table-cell;
  vertical-align: middle;
}

.Wia.T9b {
  left: 0;
  margin: 0 auto 15px;
  position: relative;
  top: 0;
  width: 120px;
}

.okb o-oa-Eb-J {
  display: table;
  margin: 0;
  position: relative;
}

.dkb {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  display: table;
  margin: 0 auto;
}

.fa-kz.iGb {
  border: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  display: block;
  height: 120px;
  width: 120px;
  cursor: pointer;
}

.rHa {
  height: auto;
  margin: 0;
  text-align: inherit;
}

.Yia {
  margin-bottom: 15px;
}

.gZa {
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
}

.rna.KXa.Xia {
  cursor: pointer;
  display: inline;
  font-size: 20px;
  margin: 0;
  max-width: 482px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: normal;
}

.Yia.Frc.VQc {
  margin-bottom: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wyb.FVb {
  opacity: 1;
}

.Ny {
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.DAa.Vza {
  margin-top: 10px;
}

.O9a.s5a {
  opacity: .67;
  margin: 0 auto;
}

.KNc {
  height: 44px;
}

.INc.GPc.xKa {
  height: 44px;
  background-color: rgba(255,255,255,0);
  color: #737373;
  margin: 0 auto;
  position: relative;
  text-align: center;
  z-index: 0;
  width: 900px;
  top: 0;
  right: 0;
}

#tab-bar0 {
  margin: 0;
  cursor: default;
  background-color: transparent;
  border-width: 0;
  border-bottom-style: solid;
  border-bottom-color: #dfdfdf;
  border-top-style: solid;
  border-top-color: #dfdfdf;
  padding: 0;
  outline: 0;
  clear: both;
  display: inline-block;
  -webkit-user-select: none;
}

#about-tab {
  color: #262626;
  cursor: pointer;
  background-color: transparent;
  border-style: none none solid;
  border-color: #ffc200;
  border-bottom-width: 2px;
  margin: 0 18px;
  top: 1px;
  font-size: 14px;
  -webkit-transition: border-color .218s;
  transition: border-color .218s;
  display: inline-block;
  line-height: 1.4;
  max-width: 180px;
  min-width: 20px;
  overflow: hidden;
  padding: 14px 0 9px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  outline: 0;
  font-weight: 700;
  -webkit-user-select: none;
}

#photos-tab,#plusones-tab,#posts-tab,#reviews-tab,#videos-tab {
  cursor: pointer;
  background-color: transparent;
  border-style: none none solid;
  border-bottom-width: 2px;
  border-bottom-color: transparent;
  margin: 0 18px;
  top: 1px;
  font-size: 14px;
  -webkit-transition: border-color .218s;
  transition: border-color .218s;
  display: inline-block;
  line-height: 1.4;
  max-width: 180px;
  min-width: 20px;
  overflow: hidden;
  padding: 14px 0 9px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  outline: 0;
  -webkit-user-select: none;
}

#wcontent {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.visual {
  height: auto;
  margin: 0 20px;
  padding: 430px 0 0;
  position: relative;
  font-size: 20px;
  text-align: center;
  border-collapse: collapse;
  list-style: none;
  color: #fff;
  overflow: hidden;
  background-image: none;
}

.slide {
  top: 0;
  left: 0;
  width: 4700px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  position: absolute;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
}

.slide-item.item1 {
  width: 940px;
  height: 430px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  float: left;
  text-align: right;
  background-image: url(http://farm6.staticflickr.com/5505/10624711695_2c87385f18_o.png);
  background-size: 940px 430px;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
}

.slide-item.item2 {
  width: 940px;
  height: 430px;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  float: left;
  text-align: left;
  background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover2.c11ab07348ca.jpg);
  background-size: 940px 430px;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
}

.slide-item.item3 {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover3.04e79d1c4cba.jpg);
  background-size: 940px 430px;
  float: left;
  width: 940px;
  height: 430px;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
}

.slide-item.item4 {
  width: 940px;
  height: 430px;
  padding: 0;
  margin: 0;
  float: left;
  border-collapse: collapse;
  list-style: none;
  background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover4.e2ba254cbb6b.jpg);
  background-size: 940px 430px;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
}

.slide-item.item5 {
  width: 940px;
  height: 430px;
  padding: 0;
  margin: 0;
  float: left;
  text-align: left;
  border-collapse: collapse;
  list-style: none;
  background-image: url(http://d1c5t9xsxiurcy.cloudfront.net/_static_gen/_ui/images/business/about-discover5.5cc187f3d090.jpg);
  background-size: 940px 430px;
  background-position: 0 0;
  background-repeat: no-repeat no-repeat;
}

.btn-next {
  top: 50%;
  right: 20px;
  width: 48px;
  height: 49px;
  padding: 0;
  margin: -15px 0 0 0;
  border-collapse: collapse;
  list-style: none;
  text-decoration: none;
  color: #4d72a7;
  background-image: url(http://farm3.staticflickr.com/2889/10644048236_785cdc102d_o.png);
  background-size: 800px 240px;
  position: absolute;
  background-position: -270px -180px;
  background-repeat: no-repeat no-repeat;
  opacity: .7;
}

.btn-prev {
  top: 50%;
  left: 20px;
  width: 48px;
  height: 49px;
  padding: 0;
  margin: -15px 0 0 0;
  position: absolute;
  border-collapse: collapse;
  list-style: none;
  text-decoration: none;
  color: #4d72a7;
  background-image: url(http://farm3.staticflickr.com/2889/10644048236_785cdc102d_o.png);
  background-size: 800px 240px;
  background-position: -210px -180px;
  background-repeat: no-repeat no-repeat;
  opacity: .7;
}

.join-text {
  padding: 25px 0 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  text-align: center;
  font-size: 32px;
  line-height: 36px;
}

.btn-blue.btn-join {
  min-width: 217px;
  height: auto;
  padding: 0 20px;
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 47px;
  border-collapse: collapse;
  list-style: none;
  vertical-align: middle;
  background-color: #238ecf;
  border: 0;
  color: #fff;
  box-shadow: none;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  text-shadow: rgba(77,123,196,.74902)0 1px 1px;
  cursor: pointer;
  outline: 0;
}

#content {
  width: 980px;
  min-height: 427px;
  padding: 0 0 40px;
  margin: 0;
  position: relative;
  float: left;
  border-collapse: collapse;
  list-style: none;
}

#animation {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
}

#tid {
  padding: 0 0 20px;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  line-height: 1em;
  font-size: 17px;
  color: #5b8997;
}

#tiu {
  padding: 49px 0 10px;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  line-height: 1em;
  font-size: 64px;
  color: #232f35;
}

#tit1 {
  width: 100%;
  padding: 37px 39px 10px 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  line-height: 1em;
  font-size: 64px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 700;
}

#txt2 {
  width: 100%;
  padding: 0 42px 20px 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  line-height: 1em;
  font-size: 17px;
  font-family: 'Open Sans',sans-serif;
}

.business-support {
  padding: 20px 0;
  margin: 0 20px;
  border-collapse: collapse;
  list-style: none;
  clear: both;
  background-image: none;
}

.bsul {
  width: 100%;
  height: 345px;
  padding: 0;
  margin: 0 auto;
  border-collapse: collapse;
  list-style: none;
  box-shadow: none;
}

.bsli {
  width: 50%;
  height: 100%;
  padding: 58px 0 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  float: left;
  font-size: 18px;
  line-height: 26px;
  color: gray;
  text-align: center;
}

.span1 {
  padding: 0 0 2px;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  color: #a7a7a7;
  font-size: 21px;
  display: block;
  font-weight: 700;
}

.go-help {
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  list-style: none;
  text-decoration: none;
  color: #4d72a7;
  font-size: 15px;
  font-weight: 700;
}

.inbox {
  width: 100%;
  height: 180px;
  overflow: hidden;
}

#inb1,#inb2 {
  padding: 10px 10px 10px 23px;
}

#skill {
  width: 100%;
  height: 100%;
  margin: 2px auto -2px;
  outline: 0;
  vertical-align: baseline;
}

.skilli {
  margin: 0 13px 13px 0;
  padding: 0;
  position: relative;
  border: 0;
  float: left;
  text-align: center;
  outline: 0;
  vertical-align: baseline;
  background-color: transparent;
}

.skillimg {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background-color: transparent;
  display: block;
}

#skillul {
  width: 248px;
  margin: 20px auto;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background-color: transparent;
  list-style: none;
}

.skillul2 {
  margin: 46px auto!important;
}

.skill3,.skill4,.skill5 {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  outline: 0;
  vertical-align: baseline;
  line-height: 50px;
}

.anim {
  opacity: 0;
  -webkit-animation: op .7s ease 1;
  -moz-animation: op .7s ease 1;
  -o-animation: spin .7s ease 1;
  -ms-animation: spin .7s ease 1;
  animation: spin .7s ease 1;
}

#updates2 {
  display: none;
}

#updates {
  text-align: left;
}

#updates,.btn-join {
  overflow: hidden;
  transition: all .3s ease 0s;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  -ms-transition: all .3s ease 0s;
}

#upul {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans',sans-serif;
}

.upli {
  line-height: 1.1;
  display: block;
  clear: both;
  margin-bottom: 35px;
  background-position: 0 50%;
  padding: 0;
}

.upa {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  text-decoration: none;
  display: block;
}

.upleft {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  float: left;
  display: block;
  font-family: Lato;
  font-weight: 700;
  width: 75px;
  margin-right: 20px;
}

.date {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  display: block;
  text-align: right;
  color: #DB9D64;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 22px;
}

.upright {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  float: left;
  display: block;
  width: 477.59px;
}

.clear {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  clear: both;
  display: block;
}

.uptitle {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  display: block;
  font-size: 19px;
  color: #868686;
  margin-bottom: 4px;
  line-height: 20px;
}

.tags {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  color: #6887AF;
  font-size: 12px;
  font-family: Lato;
  display: block;
  line-height: 10px;
}

.year {
  transition: color .3s ease-out;
  -webkit-transition: color .3s ease-out;
  display: block;
  text-align: right;
  color: #868686;
  font-size: 13px;
  line-height: 15px;
}

#updates {
  padding: 0 20px!important;
}

#wcontent>div.join-text>button:hover {
  opacity: .9;
  box-shadow: 0 1px 4px rgba(0,0,0,.55);
}

#wcontent>div.join-text>button:active {
  box-shadow: none;
  opacity: 1;
}

@-webkit-keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes op {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media screen and (max-width:75em) {
  #logoh1 {
    font-size: 23px;
    left: -5px;
  }

  #logoul {
    margin-right: -48px;
  }

  #wrap {
    width: 96%;
  }

  #innerwrap {
    padding: 20px;
  }

  #remote {
    display: none;
  }
}

@media screen and (max-width:59.375em) {
  #logoh1 {
    font-size: 19px;
    left: -56px;
  }

  #logoul li a {
    font-size: 12px;
  }

  #wrap {
    margin: 56px auto 0;
  }

  #innerwrap {
    padding: 15px 20px;
  }

  #wraprbox {
    display: none!important;
  }

  #wraplbox {
    width: 100%!important;
  }

  .grid-1-3 {
    display: none!important;
  }

  .grid-2-3 {
    width: 100%!important;
  }
}

@media (max-width:43.75em) {
  .upleft {
    margin-left: -13px;
  }

  body {
    font-size: 13px;
  }

  #logo {
    height: 42px;
    padding: 0;
  }

  #logoh1 {
    width: 100%;
    left: 0;
    text-align: center;
    font-weight: 700;
    line-height: 42px;
    margin-left: 4px;
    font-size: 17px;
  }

  #logoul {
    display: none;
  }

  #topmenu {
    display: block;
    margin-top: -16px;
    margin-left: -6px;
  }

  #wrap {
    width: 100%;
    margin: 0;
    padding: 10px 0 0;
    border-radius: 0;
  }

  #wraphead {
    height: 35px;
  }

  #footer {
    background: rgba(255,255,255,1);
    margin: 10px 0 0;
    height: 0;
    box-shadow: none;
    min-height: 45px;
    border-top: 0;
  }

  #footwrap {
    background: 0 0;
    box-shadow: none;
    -webkit-box-shadow: none;
  }

  #footer #left {
    display: none!important;
    position: absolute;
    width: 100%;
    padding: 0;
    line-height: 126px;
  }

  #footer #left li {
    color: #D6D6D6;
  }

  #wraplbox {
    float: none;
    width: 100%;
    padding: 0!important;
  }

  #wraprbox {
    display: none;
  }

  #footer #right {
    float: none;
    padding-right: 0;
    padding-left: 0;
    line-height: 45px;
    width: 100%;
  }

  #footer #right li {
    padding-right: 8px;
    padding-left: 8px;
    width: 13%;
    min-width: 65px;
  }

  .btn-blue.btn-join {
    min-width: 37%!important;
    height: 40px!important;
    line-height: 40px!important;
    margin: -9px 0 0!important;
    font-size: 12px!important;
  }

  .visual {
    margin: -20px 0!important;
  }

  .btn-next {
    background-image: url(http://farm6.staticflickr.com/5474/10644037184_7ed670c2ff_o.png)!important;
    right: 0!important;
  }

  .btn-prev {
    background-image: url(http://farm6.staticflickr.com/5474/10644037184_7ed670c2ff_o.png)!important;
    left: 0!important;
  }

  .business-support {
    margin: 0 0!important;
  }

  .bsli {
    float: none!imporant;
    width: 100%!important;
    border-top: 1px solid #dfdfdf!important;
  }

  .span1 {
    font-size: 20px!important;
  }

  #toptitle {
    font-size: 12px!important;
  }

  .bbph4 {
    font-size: 18px!important;
  }

  .bbp-forum-content {
    font-size: 10px!important;
  }

  .bbpra {
    font-size: 10px!important;
    display: none!important;
  }

  .bbp-author-name {
    font-size: 10px!important;
  }

  .grid.group.forums-wrap {
    padding: 0 0 100px 10px!important;
  }

  .grid-2-3 {
    padding-right: 10px!important;
  }

  .bbp-forum-freshness {
    width: 25%!important;
  }

  #wcontent {
    width: 100%!important;
  }

  .article {
    width: 100%!important;
    height: 180px!important;
    border: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.35);
    -moz-box-shadow: 0 0 2px rgba(0,0,0,.05);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.35);
  }

  #whright {
    display: none;
  }

  #whleft {
    margin-top: -11px;
    width: 100%;
    padding: 0;
  }

  #ctg {
    width: 100%;
    text-align: center;
  }

  #down {
    display: none;
  }

  #whleft:hover {
    border-right: 0!important;
    background: none!important;
  }

  .bsli {
    padding: 25px 0 0!important;
  }

  .join-text {
    padding: 4px 0 0!important;
    margin-top: 42px!important;
  }

  .bsul {
    height: 250px!important;
  }

  #tit1 {
    padding: 26px 15px 10px 0!important;
    font-size: 44px!important;
  }

  #txt2 {
    padding: 0 15px 20px 0!important;
    font-size: 17px!important;
  }

  #toptitle,.tiu {
    display: none!important;
  }

  #timeline {
    margin: -48px auto 15px 0!important;
  }

  #innerwrap {
    padding: 20px!important;
  }

  .dlcon {
    height: 115px!important;
  }

  .wdtitle {
    font-size: 15px!important;
    padding: 8px 18px 8px!important;
  }

  #wraptitle {
    width: 100%;
  }

  .main-forums-column {
    padding: 27px 10px 30px!important;
  }

  .forum-titles {
    font-size: 12px!important;
  }

  .bbp-header {
    height: 14px!important;
  }

  #header {
    height: 52px;
  }
    .inbox {
    height: 153px;
  }

  #skillul {
    width: 248px;
    margin: 10px auto;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background-color: transparent;
    list-style: none;
  }

  .skillul2 {
    margin: 40px auto!important;
  }
    #updates {
    padding: 0 0!important;
  }

  .tags,.year {
    display: none;
  }
}

@media (max-width:1151px) {
  #ral {
    font-size: 24px!important;
  }
}