t-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #5f545a;
    color: #fff;
    font-size: 100%;
    line-height: 1.25;
}

div#wrap {
    background: url(https://farm3.staticflickr.com/2898/14016886289_30f3ac3c99_b.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
}

div#over-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    pointer-events: none;
}

div#over-wrap.dark {
    opacity: 1;
}

div#content {
    margin: -210px 0 0 -170px;
    top: 47%;
    left: 50%;
    width: 340px;
    height: 420px;
    background-color: rgba(255, 255, 255, 0.87);
    box-shadow: inset 0px 0px 82px rgba(121, 110, 99, 0.25);
    font-family: 'Ubuntu', sans-serif;
    color: #e75854;
    opacity: 0;
    z-index: 1900;
    position: absolute;
    pointer-events: auto;
    padding: 23px;
}

div#content {
    overflow: hidden;
    -webkit-transition: opacity 0.32s 0.28s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.09s, left 0.4s 0.1s, margin 0.4s 0.1s;
    transition: opacity 0.32s 0.28s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.09s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

div#content.visible {
    opacity: 1;
    top: 50%;
}

h1#title {
    text-align: center;
    margin: 12px 0;
    font-size: 0px;
    color: #e85657;
    cursor: default;
    opacity: 0;
}

h1#title.visible {
    opacity: 1;
    font-size: 36px;
}

h1#title {
    -webkit-transition: opacity 0.32s 0.28s, font-size 0.32s 0.16s;
    transition: opacity 0.32s 0.28s font-size 0.32s 0.16s;
}

h1#logo {
    position: absolute;
    width: 100%;
    bottom: -9px;
    font-size: 23px;
    text-align: center;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.22);
    cursor: pointer;
    opacity: 0;
    z-index: 4000;
}

h1#logo:hover {
    color: rgba(255, 255, 255, 0.47);
}

h1#logo.visible {
    opacity: 1;
    bottom: -6px;
}

h1#logo {
    -webkit-transition: color 0.32s 0.1s, opacity 0.32s 0.28s, bottom 0.32s 0.28s;
    transition: color 0.32s 0.1s opacity 0.32s 0.28s bottom 0.32s 0.28s;
}

div#button-wrap {
    margin-top: 112px;
}

button#top,
        button#bottom {
    position: relative;
    padding: 0 1em;
    border: none;
    background-color: #e85657;
    color: #f9f6e5;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    line-height: 71px;
    overflow: hidden;
    outline: none;
    width: 100%;
    font-size: 17px;
    height: 71px;
    margin-bottom: 8px;
    cursor: pointer;
}

button#top:hover,
        button#bottom:hover {
    background-color: #f9f6e5;
    color: #e85657;
}

button#top:active,
        button#bottom:active {
    box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.17);
    background-color: #F3F1E1;
}

button#top,
        button#bottom {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

button#bottom.down {
    margin-top: 600px;
}

div#content,
        h1#logo,
        h1#title,
        span#close,
        textarea#source {
    -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

span#close {
    opacity: 1;
    -webkit-transition: opacity 0.2s 0.35s, -webkit-transform 0.2s 0.35s;
    transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
    -webkit-transform: scale(0.85);
    color: #AA8C70;
    font-size: 75%;
    position: absolute;
    top: -27px;
    right: -27px;
    z-index: 100;
    display: block;
    overflow: hidden;
    width: 3em;
    height: 3em;
    text-align: center;
    line-height: 3;
    cursor: pointer;
    font-size: 29px;
    opacity: 0;
}

span#close.visible {
    opacity: 1;
}

span#close:hover {
    color: #D5635F;
}

textarea#source {
    line-height: normal;
    font-family: inherit;
    font-size: 100%;
    margin: -89px 0 10px;
    height: 87px;
    padding: 10px;
    width: 100%;
    font-weight: 300;
    font-size: 20px;
    outline: none;
    background: rgba(240, 217, 97, 0.1);
    color: #b09a86;
    border: 2px solid #ebd3bd;
    resize: none;
    display: block;
    opacity: 0;
}

textarea#source {
    -webkit-transition: opacity 0.32s 0.1s, height 0.35s 0.15s;
    transition: opacity 0.32s 0.1s, height 0.21s 0.09s;
}

textarea#source.visible {
    opacity: 1;
    height: 313px;
}

textarea#source.visible2 {
    opacity: 1;
    height: 166px;
    margin-bottom: 16px;
}

textarea#source.visible3 {
    opacity: 1;
    height: 387px;
    margin-bottom: 16px;
    background: none;
    text-align: center;
    border: none;
    font-size: 24px;
    margin-top: -79px;
}

svg:not(:root) {
    overflow: hidden;
}

.la-anim-6 svg {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 500px;
    height: 500px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.4);
    transform: translateX(-50%) translateY(-50%);
    pointer-events: none;
    margin-top: 52px;
}

#la-anim-6-border {
    fill: #e85657;
    fill-opacity: 1;
}

#la-anim-6-loader {
    fill: rgb(230, 230, 230);
    fill-opacity: 1;
}

#shares {
    width: 96px;
    height: 31px;
    bottom: 3px;
    right: 1px;
    position: absolute;
    z-index: 9999;
}

div#gcon {
    float: right;
    margin-top: 0px;
    margin-right: -1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

div#gcon::before {
    font-family: FontAwesome;
    content: "\f0d4";
    margin-left: 1px;
    font-size: 23px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.17);
    transition: all 0.3s 0s ease;
    -webkit-transition: all 0.3s 0s ease;
    cursor: pointer;
}

div#fbcon {
    float: right;
    margin-top: 0px;
    margin-right: -1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

div#fbcon::before {
    font-family: FontAwesome;
    content: "\f082";
    margin-left: 1px;
    font-size: 23px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.17);
    transition: all 0.3s 0s ease;
    -webkit-transition: all 0.3s 0s ease;
    cursor: pointer;
}

div#twicon {
    float: right;
    margin-top: 0px;
    margin-right: -1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

div#twicon::before {
    font-family: FontAwesome;
    content: "\f099";
    margin-left: -1px;
    font-size: 26px;
    line-height: 33px;
    color: rgba(255, 255, 255, 0.17);
    transition: all 0.3s 0s ease;
    -webkit-transition: all 0.3s 0s ease;
    cursor: pointer;
}

div#fbcon:hover::before,
        div#gcon:hover::before,
        div#twicon:hover::before {
    color: #B3B3B3;
}

#forkongithub a {
    background: #fff;
    color: #9B9B9B;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
}

#forkongithub a:hover {
    background: #c11;
    color: #fff;
}

#forkongithub a::before,
    #forkongithub a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #fff;
}

#forkongithub a::after {
    bottom: 1px;
    top: auto;
}

@media screen and (min-width: 800px) {
    #forkongithub {
        position: fixed;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }

    #forkongithub a {
        position: absolute;
        top: 43px;
        right: -48px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    }
}

@media (max-width: 43.75em) {
    #shares {
        display: none;
    }

    div#content {
        margin-top: -342px !important;
    }

    .la-anim-6 svg {
        margin-top: -73px;
    }

    textarea#source.visible3 {
        margin-top: -104px;
        font-size: 12px;
        text-align: left;
    }
}

@media (max-height: 604px) {
    h1#logo.visible {
        bottom: -50px;
        opacity: 0;
    }
}
